*{
    margin: 0%;
    padding: 0%;
}
.nav{
    padding: 1vh;
    border: 1px solid black;
     background-color: rgba(0, 0, 0, 0.551);
    text-align: right;
    position: sticky;
    top: 1vh;
    z-index: 10;
    display: flex;
    justify-content: left;
}
#portfolio{
    border: 1px solid black;
    font-size: 3vh;
    display: inline-block;
    padding: 1%;
    height: auto;
    background-color: aqua;
    border-radius: 20px;
    font-size: 3vh;
    background: linear-gradient(to right, #0096c7, blue);
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}
#nav2{
    text-align: right;
    display: flex;
    text-align: left;
    justify-content: right;
    display: inline-block;
    width: 50%;
    margin-left: 30vw;
    }
.navlink{
   font-size: 2vh;
   padding: 1%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
color:white ;
margin-right: 5%;
}
.navlink:hover{
    background-color: black;
    border: 2px solid white;
    border-radius: 1vw;
    background: linear-gradient(to right,rgb(8, 239, 239),rgb(5, 215, 230));
    box-shadow: 2px 20x 0 whitesmoke;
}
.education{
    display: inline-block;
    font-size: 4vh;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 3%;
    border: 2px solid wheat;
    background: linear-gradient(to right,rgb(25, 25, 221),rgb(2, 245, 245));
    box-shadow: 20px 10px 30px rgb(20, 19, 20);
}
.about{
    height: 10vh;
  width: 50%;
  margin-top: 10%;
display: inline-block;
  margin-left: 10%;
}
#abouttext{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
#name2{
    text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
   -1px 1px 0 rgb(0, 0, 0),1px 1px 0 rgb(0, 0, 0);
    }
#name2:hover{
    color: #07e8fc;
    text-shadow: 2px 2px 3px white;
    }
    .social1{
        
       overflow: hidden;
       display: inline-block;
       position: relative;
       border-radius: 10px;
       
    }
    #cover{
      background-image: url('windo.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
        position: absolute;
        height: 30vh;
        background-color: rgb(0, 238, 255);
        width: 63vh;
        margin: 0%;
         border:3px solid #090909;
    }
.social{
      height: 5vh;
        border: 3px solid rgb(0, 238, 255);
        border-radius: 50%;
        
        
    }
.social:hover{
        box-shadow: 10px 5px 50px 10px rgb(239, 13, 182);
       }
#profile{
    max-height: 30vh;
    border-radius: 50%;
    margin-left: 10%;
    box-shadow: 20px 10px 30px rgb(20, 19, 20);
    border: 6px solid wheat;
    }
.educationtext{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
}


.bold{
    font-size: 6vh;
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
label{
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 5vh;
}
#head1{
position: sticky;
top:10px;
z-index: 10;
}
.form{
       height: 20%;
    width: 40%;
    margin-top: 10%;
 display: inline-block;
    margin-left: 30%;
    border: 0px solid white;
    border-radius: 10px;
    background-color: rgba(99, 124, 159, 0.549);
    padding: 6%;
   backdrop-filter: blur(10px);
}


   .box10{
    display: inline-block; 
    margin-left: 1vw;

   }
.box11{
    box-shadow: 20px 10px 30px rgb(20, 19, 20);
      width: 100px;
              height: 100px;
              border: 1px solid black;
              display: flex;
              justify-content:center;
              align-items: center;
     border-radius:50%;
     margin-top: 8%;
     margin-left: 30vw;
     background:linear-gradient(to right,rgb(58, 5, 229),rgb(6, 233, 225));
  }
  .box13{
      width: 60vh;
      height: 30px;
      border: 1px solid black;
     background-color: #4242f5;
     margin-top: 18%;
     margin-bottom: 10%;
     box-shadow: 20px 10px 30px rgb(20, 19, 20);
    margin-left: 10%;
  }
  #box14{
      height: 27px;
      width: 90%;
      border: 2px solid rgb(232, 13, 13);
      background-color: #640ada;
      margin-right: 10%;
      }
  #box15{
      height: 27px;
      width: auto;
      border: 2px solid rgb(232, 13, 13);
      background-color: #ff84bd;
      margin-right: 20%;
      }
 #box16{
      height: 27px;
      width: auto;
      border: 2px solid rgb(232, 13, 13);
      background-color: #07e8fc;
      margin-right: 50%;
      }
  #box17{
      height: 27px;
      width: auto;
      margin-right: 30%;
      border: 2px solid rgb(232, 13, 13);
      background-color: #0ce60f;
      }
 .skill{
      display: flex;
      justify-content: center;
      text-align: center;
      margin-top: 30%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 2vh;
  }
  .persenttext{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 1vh;
    padding: 0%;
   
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
  }
  
.box11{
        width: 10vh;
        height: 10vh; 
        border: 1px solid black;
       display: flex;
       justify-content:center;
       align-items: center;
       border-radius:50%;
       margin-top: 8%;
       margin-left: 20vw;
       background:linear-gradient(to right,rgb(58, 5, 229),rgb(6, 233, 225));
    }
#box22{
        height: 10vh;
        width: 10vh;
        border: 2px solid rgb(232, 13, 13);
        background-color: #640ada;
        border-radius:50%;
       }
#box23{
        height: 10vh;
        width: 10vh;
        border: 2px solid rgb(232, 13, 13);
        background-color: #ff84bd;
        border-radius:50%;
       }
#box24{
        height: 10vh;
        width: 10vh;
        border: 2px solid rgb(232, 13, 13);
        border-radius:50%;
        background-color: #07e8fc;
        }
#box25{
        height: 10vh;
        width: 10vh;
        border: 2px solid rgb(232, 13, 13);
        background-color: #0ce60f;
        border-radius:50% ;
        }
.box13{
        width: 60vh;
        height: 3vh;
        border: 1px solid black;
       background-color: #4242f5;
       margin-top: 18%;
       margin-bottom: 10%;
       margin-left: 10%;
       display: flex;
    }
    #box14{
        height: 90%;
        width: 90%;
        border: 2px solid rgb(232, 13, 13);
        background-color: #640ada;
        }
    #box15{
        height: 90%;
        width: 80%;
        border: 2px solid rgb(232, 13, 13);
        background-color: #ff84bd;
        }
    #box16{
        height: 90%;
        width: 50%;
        border: 2px solid rgb(232, 13, 13);
        background-color: #07e8fc;
        }
    #box17{
        height: 90%;
        width: 70%;
        border: 2px solid rgb(232, 13, 13);
        background-color: #0ce60f;
        }
   .skill{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 30%;
    }
    .persent{
       font-family: Arial, Helvetica, sans-serif;
       font-size: 2vh;
       display: flex;
       justify-content: center;
       text-align: center;
       
       
    }
    #socialcover{
        background-color: #0387ec;
        font-size: 3vh;
        border: 2px solid white;
    }
    body{
       background: linear-gradient(to right , rgb(4, 10, 37) ,rgb(17, 11, 185));
       font-family: 'Times New Roman', Times, serif;
          
       }
    .contactbox{
        height: 3vh;
        width: 50%;
        text-align: center;
        background-color: transparent;
        border: 0px solid transparent;
        border-bottom: 2px solid black;
       }
       .submit{
        height: 4vh;
        width: auto;
        font-size: 3vh;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 5px;
        background-color: rgba(113, 170, 241, 0.538);
        text-align: center;
         backdrop-filter: blur(10px);

    }
    .submit:hover{
        background-color: black;
        border: 1px solid rgb(21, 20, 20);
        
        box-shadow: 1px 0 10px rgba(245, 245, 245, 0.589);
        background-color: rgba(113, 170, 241, 0.538);
    }

    .copy{
        height: 5vh;
        width: 100%;
       background-color: #191561;
       margin: auto;
       padding-top:1vh ;
      text-align: center;
      border: 1px solid white;
      color: azure;
      font-size: 2vh;
    }
    .motion{
        color: aqua;
    }
    